redis==3.5.3
redis-py-cluster==2.1.0
joblib
git+https://github.com/WojciechMula/pyahocorasick@master#egg=pyahocorasick
ujson==2.0.3
flask
flask_cors
redisgraph
gunicorn
transformers
git+https://github.com/RedisAI/redisai-py.git@cluster_api#egg=redisai