async-timeout==4.0.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
Deprecated==1.2.13
filelock==3.7.0
Flask==2.2.2
Flask-Cors==3.0.10
furl==2.1.3
gears-cli==1.2.0
gunicorn==20.1.0
hiredis==2.0.0
httpimport==0.7.2
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
ml2rt==0.2.0
numpy==1.22.4
orderedmultidict==1.0.1
packaging==21.3
prettytable==2.5.0
protobuf==4.21.9
git+https://github.com/WojciechMula/pyahocorasick@master#egg=pyahocorasick
pyparsing==3.0.9
redis
# git+https://github.com/AlexMikhalev/redis-py-cluster@gears_rg_trigger#egg=redis-py-cluster
git+https://github.com/RedisAI/redisai-py.git@cluster_api#egg=redisai
redisgraph
regex==2022.4.24
requests==2.27.1
sacremoses==0.0.53
semantic-version==2.10.0
transformers[sentencepiece]==4.4.2
setuptools-rust==1.5.1
six==1.16.0
tokenizers==0.10.3
torch==1.9.1
tqdm==4.64.0
typing-extensions==4.2.0
ujson==2.0.3
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.8.1
